<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Ranking</title>
    <script type="application/javascript" th:src="@{/js/externos/angular.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/externos/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/externos/bootstrap.min.js}"></script>
    <link th:href="@{/css/externos/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/externos/flag-icon.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="header :: header"></div>
<div th:replace="headLang :: headLang"></div>
<div class="chat" id="chat">
    <form data-bind="submit: enviarMensaje" name="chatFormulario">

        <div id="cont" class="cont">
            <div id="MensajesChat" class="MensajesChat">
                <div id="startChat"></div>
                <!-- ko foreach : { data: mensajes, as: 'mensaje'} -->
                <label class="FechaProx" data-bind="text : '(' + mensaje.fecha + ')'"></label>
                <label class="Nombre" data-bind="text : mensaje.usuario + ':'"></label>
                <label class="Mensajes" data-bind="text : mensaje.mensaje"></label>
                <br>
                <!-- /ko -->
            </div>
        </div>
        <div class="MensajeError">
            <p id="mensajeErrorChat" class="error"></p>
            <p id="mensajeCorrectoChat" class="correcto"></p>
        </div>
        <label for="Mensaje"></label><input style="width: 70%;" type="text" id="Mensaje" name="Mensaje"/>
        <input type="submit" name="enviarMensaje" value="Enviar Mensaje">

    </form>
</div>

<div th:replace="footer :: footer"></div>
<script type="application/javascript" th:src="@{/js/externos/knockout-3.5.0.js}"></script>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>