<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <script type="application/javascript" th:src="@{/js/externos/angular.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/externos/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/externos/bootstrap.min.js}"></script>
    <link th:href="@{/css/externos/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/externos/flag-icon.min.css}" rel="stylesheet"/>
    <title>Home</title>
</head>
<body>
    <div th:replace="header :: header"></div>
    <div th:replace="headLang :: headLang"></div>
    <div th:replace="footer :: footer"></div>
</body>
</html>