<!DOCTYPE html>
<!--suppress XmlDuplicatedId -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="header :: header"></div>
    <div th:replace="headLang :: headLang"></div>
    <div th:replace="footer :: footer"></div>
</body>
</html>